target/
build/
bin/
.gradle/
.mvn/
!mvnw
!mvnw.cmd

*.log

.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

.DS_Store
Thumbs.db
Desktop.ini

*~
*.swp
*.bak

*.env
application-local.yml
application-secret.properties